{% load static_cb %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{% static 'css/bootstrap4/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Django</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id='app'>
            <header class="topbar">
                <div class="logo-title"><a href="">Django</a></div>
                <div class="topbar-contants">
                    {% if user.is_authenticated %}
                    <div><a href="/account/logout">Logout</a></div>
                    {% else %}
                    <div><a href="/account/login">Login</a></div>
                    {% endif %}
                </div>
            </header>
            <div class="contents-wrap">
                <!-- <nav class="sidebar">
                    <ul>サイドバー</ul>
                    <ul>サイドバー</ul>
                    <ul>サイドバー</ul>
                    <ul>サイドバー</ul>
                    <ul>サイドバー</ul>
                </nav> -->
                <div class="main-contents-wrapper">
                    <div id="main-contents">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
            <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
            {% block bottom %}
            {% endblock %}
        </div>
    </body>
</html>