{% extends "base.html" %}
{% load static_cb %}
{% block head %}
    <link href="{% static 'css/account/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="login-container">
        <div class="login-form">
            <form method="post" action="">
                {% csrf_token %}
                <div class="logowrap">
                    <div class="title">Login</div>
                </div>
                {% if login_failed %}
                <div class="error-message">
                    メールアドレスかパスワードが間違っています
                </div>
                {% endif %}
                <div class="field-wrap">
                    <div class="field-contents">{{ form.email }}</div>
                    <div class="valid-error">{{ form.errors.email }}</div>
                </div>
                <div class="field-wrap">
                    <div class="field-contents">{{ form.password }}</div>
                    <div class="valid-error">{{ form.errors.password }}</div>
                </div>
                <div class="flex-center field-wrap">
                    <input type="submit" class="btn btn-primary" value="ログイン">
                </div>
                <!-- <div class="flex-center">
                    <a href="/account/create/">アカウント登録はこちら</a>
                </div> -->
            </form>
        </div>
    </div>


{% endblock %}